.orders_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  overflow-x: scroll;
  padding-bottom: 12px;

  &::-webkit-scrollbar {
    height: 10px !important;
  }

  &::-webkit-scrollbar-thumb {
    background: $color_blue_light;
    border-radius: 10px;
  }

  .order {
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    background: #ffffff;
    border: 2px solid #ebebeb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .name {
      font-weight: 600;
      font-size: 14px;
      line-height: 116%;
      letter-spacing: -0.045em;
      color: $color_blue_dark;
      // margin-bottom: 8px;
      cursor: pointer;
    }

    .status {
      display: flex;

      .pending {
        padding: 4px 8px;
        gap: 10px;
        background: #ecc07c;
        border-radius: 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: -0.035em;
        color: #ffffff;
      }
    }

    .item_price {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.035em;
      cursor: pointer;
      color: $color_blue_dark;
    }

    .order_details {
      button {
        padding: 12px 24px;
        gap: 8px;
        background: #deebff;
        box-shadow: inset 0px -1px 0.5px rgba(14, 14, 44, 0.4);
        border-radius: 8px;
        border: none !important;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: $color_blue_dark;
        transition: all 0.3s ease;

        &:hover {
          background: #c8deff;
        }
      }
    }
  }
}
