@import '../base';

.dashboard_layout_body {
  margin-left: 247px;
  margin-top: 83px;
  // position: relative;
  background: #f8f8f8;

  z-index: 9999;

  padding: 24px 20px 34px 24px;
}

@media screen and (max-width: 912px) {
  .dashboard_layout_body {
    margin-left: 0px;
    margin-top: 83px;
    background: #f8f8f8 !important;

    z-index: 1 !important;

    padding: 24px 24px 34px 24px;
  }
}
